#map-container {
    display: flex;
    height: 100vh;
}

#map {
    flex: 3;
    height: 100%;
}

#sidebar {
    flex: 1;
    padding: 20px;
    background: #f4f4f4;
    overflow-y: auto;
    border-left: 2px solid #ccc;
}

#landmark-info img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    margin-top: 0;
}
